
$Moderate-cyan: hsl(176, 50%, 47%);
$Black: hsl(0, 0%, 0%);
$Dark-cyan: hsl(176, 72%, 28%);
$Dark-gray: hsl(0, 0%, 48%);
$Dark-gray-trasparent: hsla(0, 0%, 48%, 0.829);
$Dark-gray-2: hsl(0, 10%, 81%);

$font-size:16px;
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Commissioner:wght@400;500;700&family=Josefin+Sans:wght@300;400&family=Poppins:wght@100;200;300;400&family=Red+Hat+Display:wght@500;700;900&display=swap');


//font-family: 'Commissioner', sans-serif;